body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .not-found-container {
    text-align: center;
    max-width: 600px; /* Limit width for smaller screens */
    padding: 0 20px; /* Add padding for smaller screens */
  }
  
  h1 {
    font-size: 6rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #555;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #777;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 4rem; /* Decrease font size for smaller screens */
    }
    
    h2 {
      font-size: 1.5rem; /* Decrease font size for smaller screens */
      margin-bottom: 15px;
    }
    
    p {
      font-size: 0.9rem; /* Decrease font size for smaller screens */
      margin-bottom: 15px;
    }
    
    a {
      font-size: 1rem; /* Decrease font size for smaller screens */
    }
  }
  